# ----------------------------
# Genel Ayarlar
# ----------------------------

# Derleme ve geçici dosyalar
*.class
*.log
*.pyc
*.swp
.DS_Store

# Versiyon kontrol sistemleri
.svn/
.history

# Diğer klasörler
.atom/
.buildlog/
migrate_working_dir/

# ----------------------------
# IDE ve Editör Ayarları
# ----------------------------

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/
# Eğer belirli VS Code ayarlarını dahil etmek isterseniz, yukarıdaki satırı yorum satırına alabilirsiniz.

# ----------------------------
# Flutter/Dart/Pub Ayarları
# ----------------------------

# Dokümantasyon API'si
**/doc/api/

# Flutter build ID
**/ios/Flutter/.last_build_id

# Dart araçları ve önbellek
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Build klasörü
/build/

# ----------------------------
# Symbolication ve Obfuscation
# ----------------------------

# Symbolication dosyaları
app.*.symbols

# Obfuscation dosyaları
app.*.map.json

# ----------------------------
# Android Studio Ayarları
# ----------------------------

# Android build artefaktları
/android/app/debug/
/android/app/profile/
/android/app/release/

# ----------------------------
# Çevresel Değişkenler
# ----------------------------

.env

# ----------------------------
# Ekstra Öneriler
# ----------------------------

# Python Sanal Ortamları
venv/
ENV/
env/
.venv/
.env/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Paketler
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Log Dosyaları
logs/
*.log

# Sistem Dosyaları
Thumbs.db
ehthumbs.db

# Diğer Geçici Dosyalar
tmp/
temp/


*.dartignore
*.editorconfig
*.firebaserc
*.gitattributes
